
.RegisterPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}
.login__logoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.RegisterPage__container {
    display: flex;
    flex-direction: column;
    align-items: center;

 background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #504b4b;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.register__form input {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6c6969;
  border-radius: 3px;
}

.register__form button {
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

.register__form button:hover {
  background-color: #f7ca6b;
}
.login__signInButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

